// Main
.main {
  overflow: hidden;
}
.page {
  min-height: calc(100vh - 70px);
}

// Header
.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-position: center;
  background-size: cover;

  // Extra large ≥1200px
  @include media-breakpoint-up(xl) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

// Section
.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  
  // Extra large ≥1200px
  @include media-breakpoint-up(xl) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  } 
}

// Cart
.shopping-cart-wrap {
  position: relative;
}

.shopping-list-cart {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 200px;
  margin-bottom: 0;
  background: $gray-100;
  box-shadow: $box-shadow;

  transition: all .25s ease-out;
  transform: scale(1, 0);
  transform-origin: top;

  &.show {
    transform: scale(1, 1);
  }

  &-header {
    padding: .5rem 1rem 0;
    border-bottom: 1px solid $gray-500;
  }

  &-product {
    padding: .5rem 1rem;

    li {
      padding-top: .5rem;
      padding-bottom: .5rem;

      & + li {
        border-top: 1px solid $gray-300;
      }
    }
  }

  &-img-container {
    position: relative;
    max-width: 70px;
    height: 60px;

    img {
      height: inherit;
      width: 100%;
      object-fit: cover;
    }
  }

  &-footer {
    padding: .5rem 1rem;
    background: $gray-300;
  }
}

//
// Product #1
//
.product-1 {
  position: relative;
  display: block;
  border: 1px solid $gray-300;
  border-radius: 3px;
  padding: 1rem 1.25rem;
  background-color: $gray-100;
  color: $gray-700;
  transition: all 0.3s;
  

  &:hover {
    img {
      transform: scale(1.01);
    }

    background-color: $gray-200;
    color: $gray-700;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    transition: all 0.3s;
    will-change: transform;

    + .product-detail {
      margin-top: 1rem;
    }
  }

  .product-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h5, h6 {
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.4;
    }

    .product-price {
      font-weight: 100;
      font-size: 1.5rem;
      letter-spacing: 1px;
      padding-left: 1rem;
      white-space: nowrap;

      .unit {
        font-size: 0.75rem;
        vertical-align: text-top;
      }

      span {
        margin-right: 0.5rem;
        font-size: 65%;
        vertical-align: middle;
      }
    }
  }

  .badge-pos-left,
  .badge-pos-right {
    position: absolute;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 11px;
    top: -0.5rem;
    z-index: 1;
  }

  .badge-pos-left  { left: -0.5rem; }
  .badge-pos-right { right: -0.5rem; }

}

// grid
.row-30 {
  @include grid-offset(30px);
}