<nav class='navbar navbar-expand-lg navbar-light'>
    <div class='container'>
        <div class='navbar-left mr-4'>
            <button class='navbar-toggler' type='button' (click)="collapseMobileNav()">☰</button>
            <a class='navbar-brand' href='#'> <img class='logo-dark' src='../assets/img/logo-dark.png' alt='logo'> </a>
        </div>
        <section class='navbar-mobile' [ngClass]='{"show": isMobileNavOpen}'>
            <nav class='nav nav-navbar mr-auto'>
                <a class='nav-link' *ngFor='let link of links' [routerLinkActiveOptions]='{exact: true}' routerLinkActive='active' [routerLink]='link.link'>
                    <span *ngIf='link.icon' [class]='link.icon'></span>
                    {{link.label}}
                </a>
            </nav>
            <nav class='nav nav-navbar ml-lg-5 d-flex align-items-center flex-row'>
                <div class="shopping-cart-wrap">
                    <button class='nav-link btn btn-link' type='button' (click)='showCart()'> <i class='fa fa-shopping-cart'></i>
                        <span class='badge badge-number badge-danger' *ngIf='productsInCart.length'>{{sumTotalItemsInCart}}</span>
                    </button>
                    <div class='shopping-list-cart' *ngIf='productsInCart.length' [ngClass]='{"show": isCartOpen}' (mouseleave)='hideCart()'> 
                        <div class='shopping-list-cart-header'>
                            <h6>My Cart</h6>
                        </div>
                        <ul class='list-unstyled shopping-list-cart-product'>
                            <li *ngFor="let product of productsInCart" class='d-flex media'>
                                <div class='shopping-list-cart-img-container'>
                                    <img [src]='product.image' alt=''>
                                </div>
                                <div class='ml-2 small media-body'>
                                    <div>{{product.product}}</div>
                                    <div>
                                        <span *ngIf='product.quantityInCart > 1'>{{product.quantityInCart}} x </span>
                                        <span>${{product.price}}</span>
                                    </div>
                                    <button type='button' class='btn btn-link p-0 pull-right' (click)='removeProductFromCart(product)' ngbTooltip='Remove Item From Cart' placement='top' container="body"><span class='fa fa-trash-o'></span></button>
                                </div>
                            </li>
                        </ul>
                        <div class='shopping-list-cart-footer d-flex justify-content-between'>
                            <span>Total</span>
                            <span>${{sumTotalPriceInCart}}</span>
                        </div>
                    </div>
                </div>
                <button class='nav-link btn btn-link' type='button'><i class='fa fa-search'></i></button>
            </nav>
        </section>
    </div>
</nav>
