<swiper>
    <div *ngFor="let featuredProduct of featuredProducts" [ngStyle]="{'background-image': 'url(' + featuredProduct.promotion_image + ')'}">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xl-6">
                    <div class="">
                        <h2>{{featuredProduct.product}}</h2>
                        <p>{{featuredProduct.description}}</p>
                        <h5>${{featuredProduct.price}}</h5>
                        <div class="group">
                            <a routerLink="/detail/{{featuredProduct.id}}" class="btn btn-outline-dark">Read More</a>
                            <button class="btn btn-success m-1" (click)='addProductToCart(featuredProduct)'>Buy Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</swiper>
